main {
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}


/* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, max-content);
} */

main div {
    width: 46%;
    margin: 13px;
}