    body {
        margin: 0;
        background-image: url(https://forums.terraria.org/index.php?attachments/n-1-png.31583/);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Pridi', serif;
        height: max-content;
    }
    
    #pageContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50vh max-content min-content max-content;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }